* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
#clock {
  width: 30%;
  height: 50%;
  background-image: url(clock.png);
  background-size: cover;
  background-position: center;
}
#hour,
#min,
#sec {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: left;
  transform: rotate(-90deg);
}
#hour {
  width: 7%;
  border-top: #000 solid 3px;
  border-radius: 50%;
}
#min{
  width: 10%;
  border-top: #000 solid 2px;
  border-radius: 50%;
}
#sec{
  width: 10%;
  border-top: #f70511 solid 2px;
  border-radius: 50%;
}
